body {
    margin: 0px;
    background: #17202A;
}

.side-menu {
    width: 15.625em;
    position: fixed;
    left: 7.8125em;
    display: flex;
    flex-direction: column;
    background: #17202A;

    a {
        display: flex;
        align-items: center;
        height: 3.4375em;
        text-decoration: none;

        &:focus {
            background: #11171f;
            border-radius: 3.4375em;
        }

        &:focus svg * {
            fill: #4BA0EC;
        }

        &:focus .text {
            padding-left: .375em;
        }

        &:hover {
            background: #11171f;
            border-radius: 3.4375em;
        }

        &:hover svg *{
            fill: #4BA0EC;
            transition: .2s;
        }

        &:hover .text {
            padding-left: .375em;
            transition: .2s;
        }
    }

    .text {
        color: white;
        font-family: Helvetica;
        font-weight: bold;
        font-size: 1.25em;
    }
    
    .icon {
        margin-right: 1.25em;
        padding-left: 1.25em;
    }

    &--closed {
        width: 50px;

        .text {
            display: none;
        }

        .tw {
            display: none;
        }

        a {
            justify-content: center;
            width: 41px;
        }
    }

}
    
.tw {
    margin-top: 1.25em;

    a.tweet-button {
        display: inline-block;
        width: 85%;
        height: 3.125em;
        background: #4BA0EC;
        border-radius: 6.25em;
        text-decoration: none;

        .tweet-text {
            color: white;
            font-family: Helvetica;
            font-weight: bold;
            font-size: 0.9375em;
            position: relative;
            float: left;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    &:hover .tweet-text {
        font-size: 1.125em;
        transition: .1s;
    }
    }
}

@media only screen and (max-width: 950px) {
    .side-menu {
        left: .5em;
    }
}

@media only screen and (max-width: 800px) {
    .side-menu {
        font-size: 14px;
    }
}

@media only screen and (max-width: 700px) {
    .side-menu {
        font-size: 12px;
    }
}


