$base_size: 5;

@function getEm($size_in_px, $base: 5) {
    @return $size_in_px/$base + 0em;
}

body {
    margin: 0px;
}

.side-menu {
    width: 360px;
    display: flex;
    flex-direction: column;
    background: #17202A;

    a {
        display: flex;
        align-items: center;
        height: 55px;
        text-decoration: none;
        padding-left: 105px;

        &:hover {
            background: #11171f;
        }
    }

    .text {
        color: white;
        font-family: Helvetica, sans-serif;
    }
    
    .icon {
        margin-right: 20px;
    }
}